* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #e0ffff, #87cefa);
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup .text-login {
  text-align: center;
}

.text-login {
  margin-bottom: 5px;
  font-size: 30px;
  color: linear-gradient(to right, #09795d, #00d4ff);
  font-weight: bold;
}
.login-btn {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  background: linear-gradient(to right, #09795d, #00d4ff);
}

.register-btn {
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  background: linear-gradient(to right, #09795d, #00d4ff);
  border: 1px solid grey;
  border-radius: 5px;
}

.center button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #222;
  background-color: #f5f5f5;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup .form-element {
  margin: 15px 0;
}

.popup .form-element label {
  font-size: 14px;
  color: #222;
}

.popup .form-element input[type="email"],
.popup .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
